body {
    font-size: 16px;
    background-color: grey;
}

.primary-header
{
    padding: 40px 30px 20px 10px;
    background-color: blue;
    color: white ;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.primary-header h1{
    font-family: fantasy
}


.primary-header{
    padding: 1rem;
    
}

.primary-header h2{
    font-size: 1rem;
}

.topbar{
    background-color: grey;
    padding: 0.5rem;
}

.topbar li {
    display: inline;
    padding:1rem;
}

.topbar a {
    color: white;
}



.col {
    float: left;
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    background-color: #CACFD2;
    Color:white;
}


**clear float**


**clear fix**